.left
	padding: 0 10px 0 10px
	width: 241px
	background: #1f2339
	@media (max-width: 1250px)
		width: 200px
	@media (max-width: 1023px)
		display: none
.top__menu, .bottom__menu
	display: flex
	flex-direction: column
	gap: 26px
.top__menu, .bottom__menu
	margin-top: 64px
.top__link, .bottom__link
	font-size: 14px
	line-height: 19px
	color: #fff
.top__link
	&:hover
		color: #43e8ff
	&:hover
		.svg-accounts, .svg__main
			fill: #43e8ff
.main-active
	color: #43e8ff
	fill: #43e8ff
.top__list, .bottom__list, .top__link, .bottom__link
	display: flex
	align-items: center
.bottom__link
	display: inline-flex
	width: 241px
	min-height: 45px
	&:hover
		background: radial-gradient(133.33% 2508.35% at -4.59% -10%, #32e6ff 0%, rgba(0, 255, 209, 0.81) 100%), #43e8ff
		border-radius: 10px
		color: #23273a
	&:hover .svg
		fill: #23273a
.svg
	margin: 0 10px
	fill: #fff
	border-radius: 0!important
	&-main
		fill: #43e8ff
		margin-right: 10px
.active
	background: radial-gradient(133.33% 2508.35% at -4.59% -10%, #32e6ff 0%, rgba(0, 255, 209, 0.81) 100%), #43e8ff
	border-radius: 10px
	color: #23273a
	fill: #23273a